<div class="sidebar">
    <h2>SIMIKO</h2>

    <a href="../pages/dashboard.html">Dashboard</a>
    <a href="../pages/bank-risiko.html">Bank Risiko</a>

    <a href="../manajemen-risiko/penetapan-konteks.html">Penetapan Konteks</a>
    <a href="../manajemen-risiko/identifikasi-risiko.html">Identifikasi Risiko</a>
    <a href="../manajemen-risiko/analisis-risiko.html">Analisis Risiko</a>
    <a href="../manajemen-risiko/evaluasi-risiko.html">Evaluasi Risiko</a>
    <a href="../manajemen-risiko/penanganan-risiko.html">Penanganan Risiko</a>

    <a href="../pages/pemantauan-risiko.html">Pemantauan Risiko</a>
    <a href="../pages/pelaporan-risiko.html">Pelaporan Risiko</a>
</div>
